.box1{
    width: 50%;
    height: 400px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 10px grey;
    position: relative;
    top: 100px;
    left: 250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.box1 button{
    border: none;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 30px;
}

.box1 a{
      color: white;
      text-decoration: none;
      font-size: x-large;
}